/* ul.custom-list {
    margin-top: 10px;
    padding-left: 0;
}

.custom-list-item {
    list-style: none;
  }

.custom-list-item::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 10px;
    background-color: blue;
    margin-right: 10px;
} */
